.header{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid var(--color-gray);
    background-color: white;
    z-index: 2;
}

.header_pageName{
    font-size: 12px;
    color: var(--color-red);
    flex: 1 1;
    margin-left: 10px;
}

.header_nav{
    display: flex;
    list-style: none;
    font-size: 25px;
    margin: 0;
    padding: 0;
    flex: 1 1;
}

.header_link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    border-left: 1px solid var(--color-gray);
}

@media (max-width: 600px){
    .header_link{
        border-left: none;
    }
}

.header_link a {
color: var(--color-red);
}