.productPurchase{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-gray);
}

.productPurchase_title{
    width: 100%;
    text-align: center;
}

.productPurchase_q{
    padding: 10px;
    border: 1px solid var(--color-gray);
    font-weight: normal;
}

@media (min-width: 768px){
    .productPurchase{
        border-bottom: none;
        margin-left: 150px;
    }

    .productPurchase_title{
        width: 33%;
        text-align: start;
        font-weight: normal;
    }

    .productPurchase_price{
        width: 33%;
        text-align: end;
    }
}

