.purchaseCard{
    border: 1px solid var(--color-gray);
    padding: 10px;
    border-radius: 11px;
    color: #515151;
    overflow: hidden;
}

.purchaseCard_date{
    margin: 0 0 10px 0;
    font-size: 16px;

}
.purchaseCard_line{
    width: 120%;
    position: relative;
    left: -20px;
    color: var(--color-gray);
}

.purchaseCard_list{
    padding: 10px;
}